:root {
    font-family: "plus jakarta sans", sans-serif;
    --background: #E0FFFF;
    --font: #000000;
    word-spacing: 3px;
    letter-spacing: 2px;
}

body {
    background-color: var(--background);
    color: var(--font);
    padding: 20px;
    font-size: 24px;
}

header.qintro>span {
    display: block;

    & header.qintro {
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
    }

    &>p>a>img:hover {
        transition: transform 8s;
        transform: scale(10.0);
    }

    &>span.nihaha>p {
        display: none;
        font-size: 50px;
        transform: translate(0px, 0px);
    }

    &>p>a>img:hover+span.nihaha:hover {
        display: block;
        transition: transform 5s;
        transform: translate(650px, 0px);
    }
}

div.hobbies {
    display: inline-block;
    border: 3px solid #000000;
    padding: 10px;
}